<p class="notice"><%= notice %></p>
<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">Tutor</div>
            <div class="cell-data">Batch</div>
            <div class="cell-data">Day</div>
            <div class="cell-data">Slots</div>
            <div class="cell-data"> Actions</div>
        </div>
        <% @time_tables.each do |time_table| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= time_table.tutorName %>
                </div>
                <div class="cell-data">
                    <%= time_table.batchCode %>
                </div>
                <div class="cell-data">
                    <% time_table.days.each do |day| %>
                        <%= day.day %>
                </div>
                <div class="cell-data">
                            <% day.slots.each do |slot| %>
                                <%= slot.description %> <br/>
                            <% end %>
                        </div>
                    <% end %>
                <div class="actions">
                    <div class="action-cell">
                        <%= link_to 'Show', time_table %> |
                        <%= link_to 'Edit', edit_time_table_path(time_table) %> | 
                        <%= link_to 'Delete', time_table, :confirm => 'Are you sure?', :method => :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= link_to 'Add New Timetable', new_time_table_path %>
    </div>
</div>


