<%= form_for(@student) do |f| %>
    <% if @student.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@student.errors.count, "error") %> prohibited this time_table from being saved:</h2>

            <ul>
                <% @student.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name %><br/>
    </div>
    <div class="field">
        <%= f.label :dob %><br/>
        <%= f.text_field :dob %><br/>
    </div>
    <div class="field">
        <%= f.label :address %><br/>
        <%= f.text_area :address, :rows=>3 %><br/>
    </div>
    <div class="field">
        <%= f.label :email %><br/>
        <%= f.text_field :email %><br/>
    </div>
    <div id="details-container">
        <div id="categories"></div>
        <div id="courses-available"></div>
        <div id="batches-available"></div>
    </div>
    <div class="field">
        <div id="course-categories">
            <%=f.label :categories %><br/>
            <% Category.all.each do |categories| %>
                <%= check_box_tag "categories[]",categories.id %>
                <%= categories.description %>
            <% end %>
        </div>
    </div>
    <br/>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
