<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">Name</div>
            <div class="cell-data">DOB</div>
            <div class="cell-data">Adress</div>
            <div class="cell-data">Email</div>
            <div class="cell-data">Status</div>
            <div class="cell-data">Courses</div>
            <div class="cell-data">Batches</div>
            <div class="cell-data">Actions</div>
        </div>
        <% @students.each do |student| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= student.first_name %>
                </div>
                <div class="cell-data">
                    <%= student.dob %>
                </div>
                <div class="cell-data">
                    <%= student.address %>
                </div>
                <div class="cell-data">
                    <%= student.email %>
                </div>
                <div class="cell-data">
                    <%= student.status %>
                </div>
                <div class="cell-data">
                    <% student.courses.each do |course| %>
                        <%= course.course_code %><br/>
                    <% end %>
                </div>
                <div class="cell-data">
                    <% student.batches.each do |batch| %>
                        <%= batch.code %><br/>
                    <% end %>
                </div>
                <div class="action-cell">
                    <%= link_to "Add", assign_student_path(student)%> |
                    <%= link_to "Edit", edit_student_path(student)%> | 
                    <%= link_to "View", student%> |
                    <%= link_to "Delete", student, :confirm => 'Are you sure?', :method => :delete %>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= link_to 'Add New Student', new_student_path %>
    </div>
</div>
