<p class="notice"><%= notice %></p>
<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">First Name</div>
            <div class="cell-data">Last Name</div>
            <div class="cell-data">Email</div>
            <div class="cell-data">DOB</div>
            <div class="cell-data">Contact No</div>
            <div class="cell-data"> Actions</div>
        </div>
        <% @tutors.each do |tutor| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= tutor.firstName %>
                </div>
                <div class="cell-data">
                    <%= tutor.lastName %>
                </div>
                <div class="cell-data">
                    <%= tutor.email %>
                </div>
                <div class="cell-data">
                    <%= tutor.dob %>
                </div>
                <div class="cell-data">
                    <%= tutor.contactNumber %>
                </div>
                <div class="actions">
                    <div class="action-cell">
                        <%= link_to 'View', tutor %> |
                        <%= link_to 'Edit', edit_tutor_path(tutor) %> |
                        <%= link_to 'Delete',tutor, :confirm => 'Are you sure?', :method => :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= link_to 'Add New Tutor', new_tutor_path %>
    </div>
</div>