<p class="notice"><%= notice %></p>
<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">Description</div>
            <div class="cell-data"> Actions</div>
        </div>
        <% @descriptions.each do |description| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= description.description %>
                </div>
                <div class="actions">
                    <div class="action-cell">
                        <%= link_to 'Edit', edit_description_path(description) %> | 
                        <%= link_to 'Delete',description, :confirm => 'Are you sure?', :method => :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= link_to 'Add New Session', new_description_path %>
    </div>
</div>