<div id='content-heading'>
    <h1>Listing slot descriptions</h1>
</div>
<p class="notice"><%= notice %></p>
<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">Description</div>
            <div class="cell-data"> Actions</div>
        </div>
        <% @descriptions.each do |description| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= description.description %>
                </div>
                <div class="actions">
                    <div class="action-cell">
                        <p><%= edit_pill_button_link_to 'Edit', edit_description_path(description) %></p>
                        <p><%= negative_trash_pill_button_link_to 'Delete',description, :confirm => 'Are you sure?', :method => :delete %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= add_pill_button_link_to 'Add New', new_description_path %>
    </div>
</div>