<h1>Ashton College</h1>

<p><%= link_to "Course Categories", categories_path %></p>
<p><%= link_to "Tutors", tutors_path %></p>
<p><%= link_to "Batches", batches_path %></p>
<p><%= link_to "Courses", courses_path %></p>
<p><%= link_to "Students", students_path %></p>
<p><%= link_to "Time Tables", time_tables_path %></p>
<p><%= link_to "Days", days_path %></p>
<p><%= link_to "Sessions", sessions_path %></p>
<p><%= link_to "Surveys", surveys_path %></p>
