<%= form_for(@result) do |f| %>

    <div><%= f.label :email %><br/>
    <%= f.email_field :email %></div>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %></div>

     <% if can? :assign_roles, @user %>
      <%= f.label :role %><br />
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
     <% end %>

    <div><%= f.submit "Update" %></div>
    <%= link_to "Back", :back %>
<% end %>