<p class="notice"><%= notice %></p>
<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">Email</div>
            <div class="cell-data">Role</div>
            <div class="cell-data"> Actions</div>
        </div>
        <% @users.each do |user| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= user.email %>
                </div>
                <div class="cell-data">
                    <%= user.role %>
                </div>
                <div class="actions">
                    <div class="action-cell">
                        <%= link_to 'Show', user_path(user.id) %> |
                        <%= link_to 'Edit', edit_user_path(user.id) %> |
                        <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= link_to 'Add New User', new_user_path %>
    </div>
</div>