<%= form_for(@course) do |f| %>
    <%= render 'shared/errors', :target=>@course %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :course_code %><br />
    <%= f.text_field :course_code %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br/>
    <%= f.text_field :start_date, :class => "date-pick" %><br/>
  </div>
  <br/>
  <div class="field">
    <%= f.label :end_date %><br/>
    <%= f.text_field :end_date, :class => "date-pick" %><br/>
  </div>
    <br/>
   <div class="field">
        <%= f.label :total_seats %><br />
        <%= f.text_field :total_seats %>
   </div>
    <%= f.text_field :seats_remaining, :hidden => true%><br/>
    <div class="field">
        <%= f.label :category, 'Course Category'%><br />
        <%= collection_select(:course, :category_id, Category.all, :id, :code) %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
