<p class="notice"><%= notice %></p>
<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">Name</div>
            <div class="cell-data">Code</div>
            <div class="cell-data">Start Date</div>
            <div class="cell-data">End Date</div>
            <div class="cell-data">Total Seats</div>
            <div class="cell-data">Seats Remaining</div>
            <div class="cell-data">Course Category</div>
            <div class="cell-data"> Actions</div>
        </div>
        <% @courses.each do |course| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= course.name %>
                </div>
                <div class="cell-data">
                    <%= course.course_code %>
                </div>
                <div class="cell-data">
                    <%= course.start_date %>
                </div>
                <div class="cell-data">
                    <%= course.end_date %>
                </div>
                <div class="cell-data">
                    <%= course.total_seats %>
                </div>
                <div class="cell-data">
                    <%= course.seats_remaining %>
                </div>

                <div class="cell-data">
                    <%= course.category.code %>
                </div>

                <div class="actions">
                    <div class="action-cell">
                        <%= link_to 'Edit', edit_course_path(course) %> |
                        <%= link_to 'Batches', batches_course_path(course) %> |
                        <%= link_to 'Delete',course, :confirm => 'Are you sure?', :method => :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= link_to 'Add New Course', new_course_path %>
    </div>
</div>

