<p class="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @batch.code %>
</p>

<p>
  <b>Course:</b>
  <%= @batch.courseCode %>
</p>
<p>
  <b>Tutor:</b>
  <%= @batch.tutorName %>
</p>
<p>
  <b>Total Seats:</b>
  <%= @batch.total_seats %>
</p>
<p>
  <b>Seats Remaining:</b>
  <%= @batch.seats_available %>
</p>
<br/>

<h2>List of enrolled students</h2>

<p>
  <div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="cell-data">First Name</div>
            <div class="cell-data">Last Name</div>
            <div class="cell-data">DOB</div>
            <div class="cell-data">Address</div>
            <div class="cell-data">Email</div>
            <div class="cell-data">Actions</div>
        </div>
        <% @batch.students.each do |student| %>
            <div class="data-bar">
                <div class="cell-data">
                    <%= student.first_name %>
                </div>
                <div class="cell-data">
                    <%= student.last_name %>
                </div>
                <div class="cell-data">
                    <%= student.dob %>
                </div>
                <div class="cell-data">
                    <%= student.address %>
                </div>
                <div class="cell-data">
                    <%= student.email %>
                </div>
                <div class="actions">
                    <div class="action-cell">
                        <%= link_to 'Withdraw', withdraw_batch_path(:student =>student)%> |
                        <%= link_to 'Notify'%>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
</p>
<br/>

<%= link_to 'Back', batches_path %>