<p class="notice"><%= notice %></p>
<div id='content'>
    <div id="content-body">
        <div id="description-bar">
            <div class="code"> Code</div>
            <div class="description"> Description</div>
            <div class="actions"> Actions</div>
        </div>
        <% @categories.each do |category| %>
            <div class="data-bar">
                <div class="code">
                    <%= category.code %>
                </div>
                <div class="description">
                    <%= category.description %>
                </div>
                <div class="actions">
                    <div class="action-cell">
                        <%= link_to 'Edit', edit_category_path(category) %> |
                        <%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="action-bar">
        <%= link_to 'Add New Category', new_category_path %>
    </div>
</div>